.card-deck {
    position: relative;
    display: inline-block;
}

.heading {
    text-align: center;
    color: rgb(70, 70, 167)
}

form {
    position: relative; 
    left: 550px;
    top: 16px;
}

.image {
    position: absolute;
    left: 350px;
 z-index: -1;
 bottom: 5px;
}


.card-body {
    position: relative;
    background-color: rgb(236, 169, 169);
    width: 185px;
    left: 750px;
    bottom: 115px;
}


.card-Title1 {
    position: relative;
    text-align: center;
    left: 850px;
}

.card-Text1 {
    position: relative;
    text-align: center;
    left: 850px;
}

