.card-deck {
    position: relative;
}

.heading {
    text-align: center;
    color: white;
}

form {
    position: relative; 
    top: 16px;
    margin-left: 40%;
}

.image {
    position: relative;
    top:16px;
    margin-left: 40%;
}


.card-body {
    position: absolute;
    background-color: white;
    width: 185px;
    margin-left: 80%;
    top: 25px;
}


.card-Title1 {
    position: relative;
    color: rgb(150, 125, 125);
}

.card-Text1 {
    position: relative;
    top: 25px;
    color: rgb(150, 125, 125);
}

